{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": false,
  "[javascript]": {
    "editor.defaultFormatter": null
  },
  "[json]": {
    "editor.defaultFormatter": null
  }
}
